


body{

      background-image: url('background.jpg');
      background-size: contain;
      background-size:100%;
      background-repeat: no-repeat
          }

          h3{
            text-align: center;

          }
  h4{
    margin: 0;
    padding: 0;
      border-bottom-width:  thin;
  		border-bottom: 1px solid black;
          }


#intro{
  position: fixed;

}

#park{
  border-right: 1px solid black ;

}


 #nextfont { position:fixed;
   height:200px;
   width:400px;
   margin:-100px 0px 0px -200px;
   top: 50%;
   left: 50%;
   text-align: center;
   overflow: auto;
   padding:15px;
 }
 #brain,#hobby,#job,#home,#next{
   text-align: none;
 }
 @media(max-width:1130px){
   #intro{
     height:  150px;

   }
   @media(max-width:750px){
     #intro{
     height:  100px;
   }
   }
 }
