


body{

      background-image: url('background.jpg');
      background-size: contain;
      background-size:100%;
      background-repeat: no-repeat
          }

          h3{
            text-align: center;

          }
  h4{
    margin: 0;
    padding: 0;
      border-bottom-width:  thin;
  		border-bottom: 1px solid black;
          }
          #a_01{
            margin: 218px;
            padding-left: 0px;
          }
#hh{
  text-align:  left;
  margin: 100px;
  padding-left: 0px;
}
#hb{
  text-align:  center;
  margin: 128px;
  padding-left: 0px;
}
#hj{
  text-align:  center;
  margin: 155px;
  padding-left: 0px;
}
#game{
  position: relative;
  left: 140px;
  margin: 52px;
  
}
#intro{
  float: left;
  border-width:0; padding:0; margin:0;
  position: static;
  right: 400px;

  top:400px;


}

#park{
  float: left;
  border-right: 1px solid black ;

}
#bo{

  position: static;
  top:300px;
  right: 0px;
}

 #nextfont { position:fixed;
   height:200px;
   width:400px;
   margin:-100px 0px 0px -200px;
   top: 50%;
   left: 50%;
   text-align: center;
   overflow: auto;
   padding:15px;
 }
 /* #brain,#hobby,#job,#home,#next{
   text-align: none;
 } */
 /* @media(max-width:1130px){
   #intro{
     height:  150px;

   }
   @media(max-width:750px){
     #intro{
     height:  100px;
   }
   }
 } */
